
<div id="coninferior">
    <footer>
      <article id="info">
    <p>
        Tel: ********<br>
        Fax: *******-*****<br>
        Cel: **********<br>
        Dir: Colombia-Valle del cauca-Buenaventura
    </p>
      </article>
      <article id="autor">
          <p>
          Por: Bairon Stiven<br>
          Estudiante Tec. en Sistemas<br>
           <a href="http://pacifico.univalle.edu.co/" target="_blank">Universidad del valle sede pacifico</a>
          </p>
      </article>
    </footer>
</div>
