
<div class="content">

<div class="starwars-demo">
    <!--star wars-->
    <img src="../../../../assets/Imagenes/error.jpg" alt="Error" class="wars">
    <h2 class="byline" id="byline"> <b> NO HEMOS PODIDO ENCONTRAR LA DIRECCIÓN </b>
        <hr>
        <div class="hr2">
        <hr>
        </div>
        <div class="hr3">
            <hr>
       </div>
      
        <a href="" routerLink="" class="boton_1 d-block text-light p-3">
            <ion-icon name="home-sharp" class="mr-2 lead">
            </ion-icon>Inicio</a>
    </h2>
  </div>

</div>