
<div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
        <div class="logo">
            <h4 class="text-light font-weight-bold">Coronavirus</h4>
        </div>
        <div class="menu">
          
                <a href="" routerLink="" class="d-block text-light p-3">
                <ion-icon name="home-sharp" class="mr-2 lead">
                </ion-icon>Inicio</a>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-block text-light p-3" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <ion-icon name="list-sharp" class="mr-2 lead">
                        </ion-icon>  Coronavirus
                    </a>
                    <div class="dropdown-menu bg" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item d-block text-light p-3" href="" 
                      routerLink="/concepto">
                        <ion-icon name="help-circle-sharp" class="mr-2 lead">
                        </ion-icon> Concepto</a>
                      <a class="dropdown-item d-block text-light p-3" href="" routerLink="/tipos">
                        <ion-icon name="help-circle-sharp" class="mr-2 lead">
                        </ion-icon> Tipos</a>
                      <a class="dropdown-item d-block text-light p-3" href="" routerLink="/causas">
                        <ion-icon name="help-circle-sharp" class="mr-2 lead">
                        </ion-icon> Causas</a>
                      <a class="dropdown-item d-block text-light p-3" href="" routerLink="/sintomas">
                        <ion-icon name="help-circle-sharp" class="mr-2 lead">
                        </ion-icon> Síntomas</a>
                      <a class="dropdown-item d-block text-light p-3" href="" routerLink="/prevencion">
                        <ion-icon name="help-circle-sharp" class="mr-2 lead">
                        </ion-icon> Prevención</a>
                      <a class="dropdown-item d-block text-light p-3" href="" routerLink="/tratamientos">
                        <ion-icon name="help-circle-sharp" class="mr-2 lead">
                        </ion-icon> Tratamientos</a>
                      <a class="dropdown-item d-block text-light p-3" href="" routerLink="/extras">
                        <ion-icon name="help-circle-sharp" class="mr-2 lead">
                        </ion-icon> Extras</a>
                    </div>
                  </li>
            
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-block text-light p-3" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <ion-icon name="stats-chart-sharp" class="mr-2 lead">
                        </ion-icon>  Estadísticas
                    </a>
                    <div class="dropdown-menu bg" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item d-block text-light p-3" href="">
                        <ion-icon name="file-tray-full-sharp" class="mr-2 lead">
                        </ion-icon> Generales</a>
                      <a class="dropdown-item d-block text-light p-3" href="">
                        <ion-icon name="file-tray-full-outline" class="mr-2 lead">
                        </ion-icon> Departamento</a>
                      <a class="dropdown-item d-block text-light p-3" href="">
                        <ion-icon name="file-tray-full" class="mr-2 lead">
                        </ion-icon> Municipio</a>
                      <a class="dropdown-item d-block text-light p-3" href="">
                        <ion-icon name="transgender-sharp" class="mr-2 lead">
                        </ion-icon> Género</a>
                
                    </div>
                  </li>

            <a href="" routerLink="/loginaportes" class="d-block text-light p-3">
              <ion-icon name="chatbubbles" class="mr-2 lead"></ion-icon>Aportes</a>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle d-block text-light p-3" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <ion-icon name="add-circle" class="mr-2 lead">
                  </ion-icon> Más
              </a>
              <div class="dropdown-menu bg" aria-labelledby="navbarDropdown">
                <a class="dropdown-item d-block text-light p-3" href="">
                  <ion-icon name="analytics" class="mr-2 lead">
                  </ion-icon>Datos de interés</a>
                <a class="dropdown-item d-block text-light p-3" href="">
                  <ion-icon name="person" class="mr-2 lead">
                  </ion-icon>Login</a>
           
              </div>
            </li>
            
        </div>
    </div>

    <div class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <form class="form-inline position-relative my-2 d-inline-block">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-search position-absolute" type="submit"><ion-icon name="search-sharp"></ion-icon></button>
              </form>

            <div class="rs" id="navbarSupportedContent">
           <!-- collapse navbar-collapse -->
                <a href="https://www.facebook.com/" target="_blank"><img src="../../../../../assets/Imagenes/facebook.png" class="img-fluid runded-circle mr-2 img" alt="facebook"></a>
                <a href="https://www.youtube.com/" target="_blank"><img src="../../../../../assets/Imagenes/youtube.png" class="img-fluid runded-circle mr-2 img" alt="youtobe"></a>
                <a href="https://twitter.com/" target="_blank"> <img src="../../../../../assets/Imagenes/twitter.png" class="img-fluid runded-circle mr-2 img" alt="twiter"></a>
            
            </div>
             
            </div>

          </nav>

        <router-outlet></router-outlet>
          <app-footer></app-footer>
    </div>
</div>
